.bigPicture{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ecosystemMain{
  max-width: 1440px;
  margin: auto;
}
.hero{
  max-width: 1440px;
  margin: auto;
}
.fourPillars{
  display: flex;
  justify-content: space-evenly;
}
.pillar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #002358;
  padding: 2rem;
  border-radius: .5rem;
  margin: 0 1rem;
}

.pillar svg{
  font-size: 5rem;
}
.pillar button{
  font-size: 5rem;
  background-color: aqua;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: none;
}
.pillarContent{
  background-color: #002358;
  padding: 2rem;
  border-radius: .5rem;
}
.pillarContentMain{
  display: flex;
  flex-direction: column;
  font-weight: 800;
  margin: 3rem 1rem;
}
.pillarUlRow{
  display: flex;
}
.pillarUlRow li{
  margin: 2rem 1rem;
}

.web3Needs{
  display: flex;
  justify-content: space-between;
}
.web3NeedsLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 4rem;
}
.web3NeedsRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 4rem;
}




.underlineGradient{
  background: rgb(168,241,254);
  background: linear-gradient(155deg, rgba(168,241,254,1) 0%, rgba(3,96,255,1) 100%); 
  height: 5px;
  max-width: 75%;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .fourPillars{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pillar{
    margin: 2rem 0;
  }
  .bigPicture{
    text-align: center;
  }
  .web3Needs{
    flex-direction: column;
  }
  .web3NeedsLeft{
    align-items: center;
    text-align: center;
  }
  .pillarContent {
    max-width: 350px;
  }
  .pillarContent ul{
    margin: 0;
    padding: 0;
  }

}