.container{
  /* background: url('../assets/Images/plan3bkg.svg');
  background-size: cover;
  aspect-ratio: 960/540;
  width: 100vw;
  height: 100vh; */
  background: linear-gradient(
  150deg, rgba(0,0,0,1) 0%, 
  rgba(107,4,4,1) 43%, 
  rgba(148,25,30,1) 77%, 
  rgba(74,2,2,1) 100%
  );
}
.dropdown button{
  display: flex;
  border: none;
  text-decoration: underline black;
  font-size: 1rem;
  background-color: transparent;
}
.dropdownContent{
  display: none;
}
.dropdown:hover .dropdownContent{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  text-decoration: underline black;
  line-height: 2rem;
}
.dropdownContent a:hover{
  background-color: #4d4d4d;
  padding: .4rem;
  border-radius: .4em;
}
.footer {
  background-color: black;
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 0;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*
if needed add back to index main div
.indexMain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.miniNav{
  display: none;
}

.nav{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: rgba(74, 74, 74, .9);
  padding: 1rem;
}

.p3f{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.3rem;
}

.socials{
  display: flex;
  justify-content: space-between;
}

.socialsChildren{
  display: flex;
  flex-direction: column;
}

.socialsChildren li{
  list-style: none;
  line-height: 3;
  font-size: 1.2rem;
  padding: 0;
}

.socialsChildren li a:hover{
  text-decoration: underline
}

.subscribeEmail{
  display: flex;
  flex-direction: column;
}

.subscribeEmail input{
  padding: 1rem;
  border: 1px solid #4d4d4d;
}

.subscribeEmail button{
  padding: 1rem;
  margin-top: 15px;
  border: none;
  border-radius: .2em;
  font-size: 1.2rem;
}

.subscribeEmail button:hover{
  background-color: black;
  border: 3px solid #4d4d4d;
  transform: scale(1.1rem);
}


@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .nav{
    display: none;
  }
  .miniNav{
    display: inline-block;
    position: sticky;
    top: 0;
    background-color: #4d4d4d;
  }
  .miniNav ul li{
    list-style: none;
    margin-bottom: 5px;
  }
  .socials{
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .socialsChildren ul{
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
