.dropdown button{
  display: flex;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdownContent{
  display: none;
}
.dropdown:hover .dropdownContent{
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 44, 115, 1);
  color: white;
  text-decoration: underline black;
}
.dropdownContent a:hover{
  background-color: #4d4d4d;
  padding: .4rem;
  border-radius: .4em;
}
.footer {
  background-color: black;
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 0;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*
if needed add back to index main div
.indexMain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.miniNav{
  display: none;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(50, 44, 115, 0.9);
  height: 50px;
}

.nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.nav ul li{
  padding: 1rem;
}

.navBtn button{
  background-color: blue;
  color: white;
  padding: .5rem;
  border: none;
}

.p3f{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.3rem;
}

.socials{
  display: flex;
  justify-content: space-between;
}

.socialsChildren{
  display: flex;
  flex-direction: column;
}

.socialsChildren li{
  list-style: none;
  line-height: 3;
  font-size: 1.2rem;
  padding: 0;
}

.socialsChildren li a:hover{
  text-decoration: underline
}

.subscribeEmail{
  display: flex;
  flex-direction: column;
}

.subscribeEmail input{
  padding: 1rem;
  border: 1px solid #4d4d4d;
}

.subscribeEmail button{
  padding: 1rem;
  margin-top: 15px;
  border: none;
  border-radius: .2em;
  font-size: 1.2rem;
}

.subscribeEmail button:hover{
  background-color: black;
  border: 3px solid #4d4d4d;
  transform: scale(1.1rem);
}

.upbtn{
  position: sticky;
  width: 25px;
  height: 25px;
  bottom: 5%;
  left: 90%;
  z-index: 3;
  animation: 3s ease-in 1s 2 buttonPop;
}

@keyframes buttonPop {
  0%{
    bottom: -15%;
  }
  50%{
    bottom: 15%;
  }
  100%{
    bottom: 5%;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .nav{
    display: none;
  }
  .miniNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0;
  }
  .miniNav button{
    width: 25%;
  }
  .miniNav ul{
    list-style: none;
    margin-bottom: 5px;
    background-color: #4d4d4d;
  }
  .powerBlurContainer{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .socials{
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .socialsChildren ul{
    padding: 0;
  }
  .upbtn{
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
