.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.board button {
  background-color: transparent;
  border: none;
  color: white;
}


.defi {
  /* background: url('../assets/Images/crypto1.svg'); */
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.defiContent {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(200, 200, 255, .8) 0%,
      rgba(133, 144, 171, .8) 1%, rgba(85, 100, 138, .8) 16%,
      rgba(59, 77, 121, .8) 42%, rgba(38, 58, 107, .8) 56%,
      rgba(31, 52, 103, .8) 74%, rgba(0, 23, 81, .6) 85%,
      rgba(0, 4, 37, .3) 100%);
  box-shadow: 0 0 25px rgb(0, 23, 81);
  padding: 1rem;
  margin-left: 2rem;
}

.defiStat {
  /* background:linear-gradient(120deg, rgba(255,255,255,.2) 22%, rgba(231,0,255,.7) 100%); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px 0px;
  background-color: #000;
  border-radius: 15px;
  border: 2px solid #2a568e;
  font-family: "Gilroy", sans-serif;
  margin: 20px 18px;
  margin-left: 18px;
  margin-left: 0;
}

.divisionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eachBoard {
  background-color: black;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 2em;
  width: 30%;
}

.eachBoard button {
  background-color: transparent;
  margin: 0 1rem;
}

.hero {
  width: 100%;
  /* background: url('../assets/Images/heroMain.svg'); */
  aspect-ratio: 2100/300;
  background-size: cover;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  margin: 0;
  padding: .25rem;
  display: flex;
}

.heroSpan {
  background: rgb(7, 42, 108);
  background: linear-gradient(90deg, rgba(32, 93, 208, 1) 0%, rgba(95, 173, 251, 1) 100%);
  padding: .25rem .5rem;
  margin: 0 .25rem;
  border-radius: .5rem;
  text-shadow: 0 0 5px black;
  box-shadow: 0 0 25px #005EFF;
}

.iconContainer {
  background: linear-gradient(0deg, rgba(0, 4, 37, 1) 0%, rgba(0, 35, 110, 1) 100%);
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: .5rem 1rem;
  padding: 2rem;
  border: 2px solid #5869C7;
  border-radius: 1rem;
  /* clip text to the background and then make text transparent 
  so background comes through the text only */
}

.iconContainer svg {
  font-size: 4rem;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 .5rem;
}

.mainFooter {
  /* background: url('../assets/Images/limitless.svg'); */
  aspect-ratio: 960/540;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.mainFooter svg {
  background-color: #005EFF;
  border-radius: 50%;
  margin-top: .5rem;
  font-size: 1.2rem;
}

.mainFooter ul {
  list-style: none;
  padding: 0;
  font-size: 1.3rem;
}

.mainFooterImmerse {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #0002F3;
  font-weight: 300;
}

.minis {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.6rem;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1rem;
  margin: 0 2rem;
}

.minis button {
  padding: 1em;
  border: none;
  color: white;
  border-radius: .5em;
  background-color: transparent;
}

.minisRight,
.minisLeft {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: rgb(81, 126, 156);
  background: radial-gradient(circle, rgba(81, 126, 156, 0.91) 0%,
      rgba(32, 73, 135, 0.83) 8%, rgba(31, 72, 134, 0.82) 23%,
      rgba(26, 66, 130, 0.74) 37%, rgba(24, 63, 128, 0.74) 54%,
      rgba(23, 61, 127, 0.72) 82%, rgba(9, 47, 116, 0.51) 94%, rgba(0, 2, 30, 1) 100%);
}

.numberRound {
  background-color: #005EFF;
  color: white;
  padding: .25rem .5rem;
  border-radius: 50%;
  box-shadow: 0 0 25px #005eff;
  font-weight: 100;
}

.powerP3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background: url('../assets/Images/planetary.svg');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 980/800;
  width: 100%;
}

.powerBlurContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.powerBlur {
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 48, 127, 0.73);
  margin: .5rem .5rem;
  width: 45%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: .5rem;
  text-align: center;
  backdrop-filter: 100%;
  backdrop-filter: blur(10px);
}

.rainbowText {
  background: rgb(97, 175, 252);
  background: radial-gradient(circle, rgba(97, 175, 252, 1) 0%, rgba(114, 200, 250, 1) 50%, rgba(138, 235, 249, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solutions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.solutions button {
  background-color: transparent;
  color: white;
  border: none;
  margin: 1rem;
  border-radius: 1rem;
}

.solutions button:hover {
  background-color: #FFB800;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 15px #FFB800;
}

.solutions button:after {
  background-color: rgba(255, 100, 180, .9);
  border: none;
  border-radius: 1rem;
}

.toolsStart {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.toolsImg {
  background: url('../assets/Images/robothand.svg');
  background-repeat: no-repeat;
  aspect-ratio: 1980/1080;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  padding: 10px;
  text-align: left;
  font-size: 1.3rem;
}

.versusHero {
  background: linear-gradient(180deg, #8BD7FE 5%, #1C58B6 70%, blue 100%);
  background-clip: text;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: transparent;
  font-size: 3rem;
  text-align: center;
  font-weight: 50;
}

.versusWeb {
  display: flex;
  flex-direction: column;
}

.web3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.web3 button {
  padding: 1rem;
  /* background-image: linear-gradient(353deg, rgba(255,255,255,1) 10%, rgba(231,0,255,1) 100%); */
  color: rgba(75, 10, 200, .9);
  border: none;
  border-radius: 1rem;
}

.webDivisions {
  border: 1px solid #4DA1FE;
  padding: 3rem 1.5rem;
  margin: .5rem;
  text-align: center;
  border-radius: .5rem;
}

.winning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: url('../assets/Images/winner.svg'); */
  background-size: cover;
  width: 100%;
}

.winning p {
  text-align: right;
  width: 40%;
}

.winningContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .arrows {
    transform: rotate(90deg)
  }

  .defi {
    flex-direction: column;
    text-align: center;
  }

  .defiContent {
    margin: 1rem 0;
  }

  .divisionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 1.3rem;
  }

  .heroSpan {
    margin: 0;
    padding: 0;
  }

  .iconContainer {
    flex-direction: column;
  }

  .powerP3,
  .hero,
  .web3,
  .defi {
    aspect-ratio: 540/300;
  }

  .main {
    margin: 0;
    width: 100%;
  }

  .mainFooter ul {
    font-size: .8rem;
  }

  .minis {
    width: 100%;
  }

  .toolsStart {
    /* background: url('../assets/Images/robothand.svg');
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 300/300; */
    flex-direction: column;
    height: 100vh;
  }

  .toolsImg {
    /* display: none; */
    aspect-ratio: 35/75;
  }

  .tools {
    text-align: center;
    align-items: center;
  }

  .tools h3 {
    font-size: 2rem;
  }

  .solutions button {
    padding: .3rem;
    margin: .3rem;
    border: 1px solid white;
    width: 100%;
  }

  .winning {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .winning p {
    text-align: center;
  }

  .winningContent {
    justify-content: center;
    align-items: center;
  }

  .versusWeb {
    flex-direction: column;
    align-items: center;
  }

}