.bkmain{
  background-color: black;
  /* background: rgb(207,1,45);
  background: linear-gradient(155deg, rgba(207,1,45,1) 0%, rgba(0,0,0,1) 31%, rgba(69,0,15,1) 79%, rgba(207,1,45,1) 100%);  */
}

.customWeb3{
  width: 100%;
  background: linear-gradient(90deg, #660000 0%, #300C0C 100%); 
}

.containerWeb3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.focusItem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  width: 22%;
  margin: .5rem;
}
.focusItem h1, .focusItem p{
  width: 60%;
}
.focusItem img{
  border-radius: 25%;
}
.focusHeader{
  font-size: 1rem;
  font-weight: 800;
  color: #CF012D;
}
.focusText{
  font-weight: 100;
  font-size: .9rem;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: .2rem;
}
.herobtn{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.herobtn button{
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem;
}
.mainFocus{
  margin:0;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainFocusTitle{
  background-color: black;
  color: #CF012D;
  padding: 2rem;
}
.quotes{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CF302D;
  z-index: 1;
}
.quote{
  color: white;
  font-size: 3rem;
  border-bottom: 3px solid white;
  width: 50%;
  animation-name: slide;
  animation-duration: 24s;
  animation-iteration-count: infinite;
}
.quote p{
  margin: 0;
}
.quoteNav{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
.quoteNav button{
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #CF012D;
}
.quoteNav button:hover{
  background-color: transparent;
  transform: scale(1.1);
}
.safety{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.safetyApproach{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  border: 3px solid #CF012D;
  border-radius: 2rem;
  padding: 1rem;
  width: 50%;
  font-weight: 150;
}
.safetyApproach h1{
  color: #CF012D;
}
.safetyApproach button{
  background-color: #CF012D;
  color: white;
  padding: .5rem 1rem;
  border: none;
  border-radius: 4rem;
}
.safetyEmail{
  display: flex;
  text-align: left;
  margin: 4rem .7rem;
}
.safetyEmail input{
  color: #CF012D;
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 80%;
}
.safetyEmail button{
  background-color: #CF012D;
  color: white;
  width: 20%;
  padding: 1rem;
}
.safetyKeep{
  background: rgb(170,170,170);
  background: linear-gradient(90deg, #660000 0%, #300C0C 100%); 
  text-align: center;
  width: 75%;
  border: 3px solid white;
  border-radius: 2rem;
}
.safetyMarket{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.safetyMarket h1{
  color: #cf012d;
}
.safetyMarketRow{
  display: flex;
  align-items: center;
  width: 100%;
}
.safetyMarketContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  border-radius: 1rem;
  margin: 0 .4rem 1rem .4rem;
  background-color: #2D2D2D;
  width: 40%;
}

.safetyWhy{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.safetyWhy h2{
  font-weight: 200;

}
.safetyWhy h2:hover{
  cursor: pointer;
}
.safetyTooltip{
  text-align: right;
  width: 60%;
}
.safetyTooltip button{
  background-color: transparent;
  color: white;
  border: 1px solid #005EFF;
}
.safetyTooltip button:hover{
  box-shadow: 0px 0px 25px #005eff;
}
.solutions{
  display: flex;
  background-color: black;
  box-shadow:
  3rem 3rem 5px #1d1d1d,
  -3rem 3rem 5px #1d1d1d;
  justify-content: space-between;
  align-items: center;
  border:2px solid #CF012D;
  margin: 2rem;
}
.solutionsChild{
  width: 30%;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 1em;
}
.solutionsRainbow{
  font-size: 1.4rem;
  font-weight: 400;
  background: rgb(168,241,254);
  background: linear-gradient(90deg, rgba(168,241,254,1) 0%, rgba(11,106,252,1) 100%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @keyframes slide {
  0%{
    position: relative;
    right: -100%;
    z-index: 0;
  }
  50%{
    right: 0;
  }
  100%{
    position: relative;
    right: 100%;
    z-index: 0;
  } 
}
*/

@media screen and (max-width: 1024px) {
  .quote{
    font-size: 2rem;
  }
  .focusItem{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .safetyApproach{
    width: 100%;
  }
  .safetyWhy{
    width: 100%;
  }
  .safetyKeep{
    width: 100%;
  }
}
@media screen and (max-width: 810px) {
  .image{
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .containerWeb3{
    flex-direction: column-reverse;
  }
  .focusHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .focusItem{
    align-items: center;
    width: 100%;
  }
  .focusText{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .hero{
    flex-direction: column;
    align-items: center;
  }
  .hero p{
    line-height: 1rem;
  }
  .mainFocus{
    background: rgb(0,0,0);
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(0,53,154,1) 84%, rgba(0,241,249,1) 100%); 
  }
  .quote{
    font-size: 1.3rem;
  }
  .safetyApproach{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .safetyWhy{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .safetyTooltip{
    width: 100%;
  }
  .safetyKeep{
    width: 100%;
    font-size: smaller;
  }
  .safetyEmail{
    flex-direction: column;
  }
  .safetyEmail input, .safetyEmail button{
    width: 100%;
    border-radius: 2rem;
  }
  .solutions{
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-shadow: none;
  }
  .solutionsChild{
    text-align: center;
    width: 100%;
  }
}