.gradientTitle {
  font-weight: 25;
  font-size: 4rem;
  background: rgb(61, 106, 242);
  background: linear-gradient(0deg, rgba(61, 106, 242, 1) 0%, rgba(168, 241, 254, 1) 67%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(2, 9, 40, 1) 57%);
  max-width: 1440px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.heroLeft,
.heroRight,
.heroCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 30%;
}

.heroCenter {
  width: 60%;
}

.items {
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 33%;
}

.item img,
.itemBordered img {
  height: 8rem;
  width: 8rem;
}

.itemBordered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
  margin: 1rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
}


.smallBox,
.mediumBox,
.largeBox {
  width: 100%;
  padding: 2rem;
  margin: .25rem;
  border-radius: 1rem;
  background-color: #020928;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionTitle {
  margin: 3rem;
  padding: 2rem;
}

.missionBanner {
  background: url('../assets/Images/missionbanner.png');
  background-size: cover;
  aspect-ratio: 1080/200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourVision {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.ourVisionHeader p {
  margin: auto;
  max-width: 40%;
}

.ourVisionHeader button {
  margin: 1.8rem;
  padding: 1rem 2rem;
}

.ourVisionBoxes {
  display: flex;
  justify-content: space-between;
}

.ourVisionBox {
  margin: 0 2rem;
  border: 2px solid #ABF5FE;
  border-radius: 1rem;
  padding: 1rem;
  text-align: left;
}

.ourVisionBox h1 {
  font-size: 1.2rem;
}

.ourVisionFooter {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.ourVisionFooter h3 {
  font-size: 2rem;
  font-weight: 25;
}

.soul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.soulIcons {
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.soulIconsCard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soulIcons img {
  height: 8rem;
  width: 8rem;
  margin: 2rem;
}

.title {
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.title h1 {
  font-size: 4rem;
  font-weight: 20;
}


.title p {
  font-weight: 75;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 1024px;
  margin: auto;
}

.teamCard {
  border: 1px solid blue;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  width: 22%;
}

@media screen and (max-width: 1024px) {
  .soulIcons {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .gradientTitle{
    font-size: 1.5rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .heroLeft,
  .heroCenter,
  .heroRight {
    width: 100%;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }

  .item{
    width: 100%;
  }

  .itemBordered {
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 100%;
  }

  .imageOverwrite img{
    width: 15%;
  }

  .missionTitle h1{
    font-size: 3rem;
  }

  .ourVisionBoxes {
    flex-direction: column;
  }

  .ourVisionBox{
    text-align: center;
  }

  .ourVisionHeader p{
    max-width: 100%;
  }

  .ourVisionFooter {
    flex-direction: column;
    border: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .ourVisionFooter img{
    width: 100%;
  }

  .ourVisionFooterLogo {
    flex-direction: column;
    width: 100%;
  }

  .ourVisionFooterLogo img {
    display: none;
  }

  .soulIcons {
    flex-direction: column;
  }

  .team {
    flex-direction: column;
  }

  .teamCard {
    width: 90%;
  }

  .title{
    background: none;
    text-align: center;
    width: 100%;
  }

  .title p{
    max-width: 100%;
  }

  .soul p{
    text-align: center;
  }
}